

<form action="/Survey" method="post">
    <label>Your Name:</label>
    <input type="text" name="Name">    <!-- updated -->
    <label>Location:</label>
    <select name="Location">    <!-- updated -->
        <option value="Gryffindor">Gryffindor</option>
        <option value="Ravenclaw">Ravenclaw</option>
        <option value="Slytherin">Slytherin</option>
        <option value="Hufflepuff">Hufflepuff</option>
    </select>
     <label>Language:</label>
    <select name="Language">    <!-- updated -->
        <option value="Gryffindor">Gryffindor</option>
        <option value="Ravenclaw">Ravenclaw</option>
        <option value="Slytherin">Slytherin</option>
        <option value="Hufflepuff">Hufflepuff</option>
    </select>
    <label>Comment:</label>
    <input type="text" name="Comment">    <!-- updated -->
    <button>Submit</button>
</form>

