@using CrudDelicious.Models
@model Dish



<h1 class="display-4 text-center ">Add a new Dish</h1>

<div class="row mt-5 ">
    <form asp-action="Create" class="d-flex"  method="post">

        <div class="col-sm-4 text-left">
            <div class="form-group">
                <span asp-validation-for="ChefsName"></span>
                <label asp-for="ChefsName"></label>
                <input asp-for="ChefsName" class="form-control">
            </div>

            <div class="form-group">
                <span asp-validation-for="NameOfDish"></span>
                <label asp-for="NameOfDish"></label>
                <input asp-for="NameOfDish" class="form-control">
            </div>

            <div class="form-group">
                <span asp-validation-for="Calories"></span>
                <label asp-for="Calories"></label>
                <input asp-for="Calories" class="form-control" >
            </div>
        </div>

        <div class="col-sm-4 d-flex justify-content-center ">

            <div class="form-group d-flex flex-column">
                <span asp-validation-for="Tastiness"></span>
                <label style="width: 50px;" class="mb-2" asp-for="Tastiness"></label>
                <select style="width: 50px;" asp-for= "Tastiness">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    

                </select>
            </div>
        </div>
        <div class="col-sm-4 text-left">
    
            <div class="form-group ">
                    <span asp-validation-for="Descriptions"></span>
                    <label class="mb-4 ml-4" asp-for="Descriptions"></label>
                    <textarea  asp-for="Descriptions" class="form-control" rows="5" ></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Add Dish</button>
       
            </div>
   </form>
</div>