<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Document</title>
</head>

<body>

    <form action="Result" method="post">
        <div class="input1">
            <label for="Name">Your Name</label>
            <input type="Text" name="Name" />
        </div>

        <div class="input1">
            <label for="Location">Dojo Location</label>
            <select id="selecti" name="Location">
                <option value="Albania">Albania</option>
                <option value="USA">USA</option>
            </select>
        </div>

        <div class="input1">
            <label for="Language">Favorite Language</label>
            <select id="selectii" name="Language">
                <option value="C#">C#</option>
                <option value="Java">Java</option>
            </select>
        </div>

        <div class="input4">
            <label for="Comment">Comment (optional)</label>
            <input type="Text" name="Comment" />
        </div>

        <div class="button">
            <button id="but1" type="submit">Submit</button>
        </div>


    </form>


</body>

</html>