<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Document</title>
</head>

<body>
    
    <div class="result">
        <h2>Submitet Info</h2>
        <div class="info">
            <div class="left">
                <h3>Name</h3>
                <h3>Location</h3>
                <h3>Favorite language</h3>
                <h3>Comment</h3>

            </div>
            <div class="right">
                <h3>@ViewBag.name</h3>
                <h3>@ViewBag.location</h3>
                <h3>@ViewBag.language</h3>
                <h3>@ViewBag.comment</h3>

            </div>
        </div>
        <div class="button">
             <button><a style="text-decoration: none ;color: black" href="http://localhost:5215">Go back </a></button>
        </div>
       
    </div>


</body>

</html>