<form action="/Survei" method="post">
    <label>Your Name:</label>
    <input type="text" name="name">
    <label>House:</label>
    <select name="house">
        <option value="Gryffindor">Klod</option>
        <option value="Ravenclaw">Flogert</option>
        <option value="Slytherin">Alberto</option>
        <option value="Hufflepuff">Angela</option>
    </select>
    <label>Year:</label>
    <input type="number" name="year">
    <button>Submit</button>
</form>

