@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<body>
    <h1> Hi! I am Mia, this is my first webpage! </h1>
    <p>Name: </p>
    <p>@Model.Name</p>
    <p>LastName: </p>
    <p>@Model.LastName</p>

</body>

   